[submodule "docker-windows/docker-machine"]
	path = docker-windows/docker-machine
	url = git@github.com-ImFlog:StefanScherer/windows-docker-machine.git
[submodule "docker-windows/packer"]
	path = docker-windows/packer
	url = git@github.com-ImFlog:StefanScherer/packer-windows.git
